.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.homeImage {
    width: 350px;
    height: 350px;
    border: 3px solid #333;
    box-shadow: 3px 3px #333;
    background-image: url(../../public/my-journey-sites.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2rem;
}

.homeIntro {
    width: 30%;
}