.thumbnail {
  padding-left: 3rem;
  padding-top: 3rem;
}

.old-macdonald-thumbnail {

  background-image: url("../public/old-macdonald-had-a-farm-image-1.jpg");
  background-size: cover;
  height: 200px;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 3rem;
}

.old-macdonald-thumbnail p {

  color: #333;
  font-size: 3rem;
}

.storybookTitle{
  color: limegreen;
}
